
  <div class="row">
    <div class="col-md-9">
      <h2>About the photographer</h2>
      <div class="pull-right">
        <img id="profile-pic" src="img/_13216C0375.jpg" class="img-polaroid" />
      </div>
      <p class="lead">Jonathan Ball has been taking photographs, off and on, since he was a teenager. Since 2007 he has been working as a freelance professional and has had his work published in numerous media throughout the UK, Europe and the world.</p>
      <p>Jonathan's primary photographic passion is for wild places and the wild animals that live there and he is never happier than when sitting in a Canadian forest watching grizzlies or floating in a small boat somewhere in the Arctic while killer whales swim alongside. However, given the general lack of megafauna in the southern United Kingdom where Jonathan is based, he also pragmatically uses his photographic skills to record day to day events closer to home. With an emphasis on reportage and editorial photography he aims to bring a creative angle to everyday events.</p>
      <p>Jonathan is a member of the Royal Photographic Society and was awarded their Licentiate distinction (LRPS) in 2006. He is slowly working towards gaining their Associateship distinction.</p>
      <p>Jonathan uses Canon camera bodies and L series lenses, but prefers to think of his camera equipment as mere tools to be used and abused rather than minor-deities to be venerated. Although he now works primarily in the digital medium he retains a fondness for film and is proud to have taken some memorable shots on Fuji Provia and Velvia.</p>
      <p>If you would like to get in touch with Jonathan please use the <a href="/contact">Contact</a> Form on this website.</p>
      <p>If you use Twitter you can follow Jonathan at <a href="http://twitter.com/jabey">@jabey</a> where he tweets about the miscellanea of his life. Past subjects have included world events, assorted life frustrations, what the cats have done now, technological geekery and a long history of failed attempts at humour. Sometimes he tweets about photography as well.</p>
    </div>
    <div class="col-md-3">
      <small>
        <h4>A note about watermarks</h4>
        <p>You will probably notice that the majority of the photographs on this site carry watermarks in the bottom right corner. I hope that you don't find these <italic>too</italic> distracting during your viewing. 
        <p>While it would be nice if all of the copies of my photographs that have spread across the web were correctly attributed back to me I realise that in these days of metadata stripping sharing sites (Pinterest, Facebook et al) and orphan-works legislation that this is unlikely to happen. So unfortunately it is necessary to stamp my ownership on my photographs in a not particularly subtle way so that there is at least a slim chance that they can be traced back to my ownership should someone want to pay me large amounts of money to publish one or more of them.</p>
        <p>So, really sorry if you hate watermarks - I hear you, I'm not fond of their aesthetics either - but I'm afraid they're here to stay, for now at least.
        <h4>A note on image manipulation</h4>
        <p>Like most photographers I perform post-processing on the files that come out of my cameras. I do this to try and make the image I present represent my vision of the scene as I pictured it at the time. The type of adjustments that may get made include changes to white-balance, curves, levels, hue, saturation, luminosity and vignetting. Sometimes these changes will be barely noticable but at other times they will be more apparent, especially if the final image is presented in black and white.</p>
        <p>In general I do not add anything to the image that was not there at the time or remove anything that was there but shouldn't have been. I do remove imperfections such as specks of dust and I do sometimes crop my images for a more pleasing composition, but as a rule you can trust that the images presented portray an accurate representation of the scene as it occurred at the time. Any exceptions to this will be clearly marked in the picture caption.</p>
      </small>
    </div>
  </div>

