  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-block alert-error">
        <h2><span class="fa fa-exclamation-triangle fa-3x" style="vertical-align:middle"></span> Uh-oh, something isn't quite right here</h2>
      </div>
      <p class="lead">It looks like the page that you were looking for cannot be displayed. Sorry about that!</p>
      <p>The details of the error have been logged and it will be investigated post-haste. Once the culprit has been found they will be subjected to a suitably cruel and unusual punishment</p>
    </div>
  </div>

