
  <div class="row">
    <div class="col-md-12">
      <h2>Privacy Policy</h2>
      <p>We value and respect your privacy. On this page we outline the privacy policy for www.jonathanball.photography</p>
      <h3>Personal Information</h3>
      <p>The only time we store any information about you is if you use the Contact page to send us a message. In this case we will collect the following information:</p>
      <ul>
        <li>name</li>
        <li>email address</li>
        <li>miscellaneous information you may supply in the message detail</li>
      </ul>
      <p>We will only use this information to respond to your enquiry.</p>
      <p>If you have ticked the box to be added to our mailing list we may periodically send promotional emails about new products and services, special offers or other information which we think you may find interesting using the email address which you have provided.</p>
      <p>We will never pass any of your details to any third parties unless we have your permission or are required by law to do so.</p>
      <h3>Cookies</h3>
      <p>We use cookies on this website to improve your browsing experience. No personally identifyiing information is stored in these cookies. But please see the next section for details on other services which may also use cookies during your visit</p>
      <h3>External Sevices</h3>
      <p>This website uses Picasa to host some of the photographic images displayed on it. The contact form uses Google Forms. Both of these products are owned and operated by Google Inc.</p>
      <p>The Google platform may place cookies on your computer and if you have your own Google account it may record any interactions you make with the website. For further details please refer to Google's privacy policy which may be found <a href="http://www.google.com/intl/en/policies/privacy/">here</a></p>
      <p>The social sharing buttons (including the Twitter "Tweet" button, the Facebook "Like" & "Share" buttons, the Google+ "g+1" button, the Pinterest "Pin It" button and the Tumblr "+" button) displayed on certain pages may also utilise cookies. If you have accounts with any of these services they may record your interactions with this website.</p>
    </div>
  </div>

